.footer {
  @extend %container;
  max-width: 760px;
  margin: 0 auto;
  text-align: right;
  font-size: .8em;

  &--link {
    color: $background;
    @include underline($color, $background, $distance: .95);
  }
}
