.posts {
  & + & {
    margin-top: 3rem;
  }

  &--listing {
    list-style: none;

    & + & {
      @include double-rhythm;
    }
  }

  @supports (columns: 2) {
    &--ARCHIVE {
      @include breakpoint(672px) {
        .posts--list {
          columns: 2;
          column-gap: 2rem;
        }

        .posts--listing {
          break-inside: avoid;
          margin-top: 0;
          padding-bottom: 2rem;
        }
      }

    }
  }

  &--heading {
    @extend .base--h2;
    font-size: 1.8em;
    @include underline($background, $color, $distance: .81);
    text-shadow: 2px 2px $background, -2px -2px $background, 2px -2px $background, -2px 2px $background;
    margin-top: 1.805555556em;

    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  &:nth-of-type(2),
  &--ARCHIVE {
    @include double-rhythm;
  }
}

.post {
  position: relative;

  &--title {
    font-size: ms(0);
    font-weight: bold;
    line-height: 1;

    .posts--LATEST & {
      font-size: ms(1);
    }
  }

  &--author {
    font-size: .75em;
    line-height: 1;
    margin-top: .5rem;
    font-style: italic;
    color: mix($color, $background, 65%);
    // @extend .article--author;
  }

  &--summary {
    @extend .base;
    font-size: .8em;
    @include half-rhythm;
  }

  &--published {
    display: block;
    & + & {
      @include half-rhythm;
    }
    // @extend .article--published;
  }
}
