:root {
  font-size: 125%;
  font-family: 'aller', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

body {
  background: $background;
  color: $color;
  text-rendering: optimizeLegibility;
  @include enable-ligatures();
  font-weight: 400;

  * + * {
    @include rhythm;
  }

  //////////////////////////////
  // Fixes Phantom rendering issue
  //////////////////////////////
  li {
    display: list-item;
    font-weight: normal;
    width: auto;
  }
}
