:root {
  font-size: $ms-base;
  font-family: 'aller', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

body {
  background: $background;
  color: $color;
  text-rendering: optimizeLegibility;
  @include enable-ligatures();
  font-weight: 400;
  line-height: 1.25rem;
  @include breakpoint(448px) {
    line-height: 1.618rem;
  }

  * + * {
    @include rhythm;
  }
}
