:root {
  font-family: 'aller', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 125%;
}

body {
  @include enable-ligatures;
  background: $background;
  color: $color;
  font-weight: 400;
  text-rendering: optimizeLegibility;

  *:not(script) + * {
    @include rhythm;
  }

  //////////////////////////////
  // Fixes Phantom rendering issue
  //////////////////////////////
  li {
    display: list-item;
    font-weight: normal;
    width: auto;
  }
}
