{% import 'macros/_published.html' as pubMacro %} {% macro post(post) %}
<li class="posts--listing">
  <article class="post base">
    <a href="/{{ post.path|replace('/index.html', '/') }}" class="post--title">{{ post.meta.title }}</a>
    {% if not post.meta.draft %}
    {{ pubMacro.published(post.stat.published, post.stat.updated, post.stat.birthtime, 'post') }}
    {% endif %} {% if post.meta.summary %}
    <div class="post--summary">{{ post.meta.summary | markdown | safe }}</div>
    {% endif %}
  </article>
</li>
{% endmacro %} {% macro recipe(recipe) %}
<li class="_recipe--listing">
  <a href="/{{ recipe.path|replace('/index.html', '/') }}">
    <figure class="recipe">
      <img loading="lazy" src="/images/cookbook/{{ recipe.meta.image }}" alt="{{ recipe.meta.title }}" role="presentation" style="object-position: {{ recipe.meta.offset }}" />
      <figcaption>
        <h2>
          {{ recipe.meta.title }}
        </h2>
        <table class="_recipe--info">
          <tr>
            <td>Estimated Time</td>
            <td>{{ recipe.meta.time.overall }}</td>
          </tr>
          <tr>
            <td>Difficulty</td>
            <td>{{ recipe.meta.difficulty }}</td>
          </tr>
        </table>
      </figcaption>
    </figure>
  </a>
</li>
{% endmacro %}
