<footer class="_blog--footer">
  <div class="footer">
    <ul class="footer--links">
      <li class="footer--link-item">
        <a href="/" class="footer--link">Home</a>
      </li>
      <li class="footer--link-item">
        <a href="/me" class="footer--link">Me</a>
      </li>
      <li class="footer--link-item">
        <a href="/presentations" class="footer--link">Presentations</a>
      </li>
      <li class="footer--link-item">
        <a href="/musings" class="footer--link">Posts</a>
      </li>
    </ul>
  </div>
</footer>
