---
import { getCollection, render } from 'astro:content';
import Layout from '$layouts/Donut.astro';
import Heading from '$components/Heading.astro';

/**
 * Builds static paths for the pages
 * @return {Object[]} - Array of page data info
 */
export async function getStaticPaths() {
  const pages = await getCollection('pages');
  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { slug } = Astro.params;
const { title, summary } = page.data;
const { Content } = await render(page);

const backgrounds = {
  me: 'var(--orange)',
  presentations: 'var(--teal)',
};

const highlight = backgrounds[slug];
---

<Layout {title} {summary}>
  <article class="page">
    <header class="page--heading">
      <Heading
        {title}
        hue={25}
        saturation={30}
        lightness={70}
        size={70}
        alpha={0.5}
      />
    </header>
    <div class="container">
      <div class="page--content type">
        <Content />
      </div>
    </div>
  </article>
</Layout>

<style lang="scss" define:vars={{ highlight }}>
  .page {
    --highlight-color: var(--highlight);

    &--heading {
      --heading-min-height: 25vh;
      background-color: var(--highlight);
    }

    :global(.headshot) {
      --paint-alpha: 0.25;
      --base-hue: 345;
      --max-saturation: 100;
      --max-lightness: 100;
      --size: 20;
      background-color: var(--highlight);
      background-image: paint(triangles);
      border-radius: 50%;
      float: left;
      margin: 1em 1em 1em 0;
      max-width: 200px;
      padding: 5px;
      shape-outside: circle(50%);
    }
  }

  .container {
    margin: 0 auto;
    max-width: calc(60ch + var(--spacing) * 2);
    padding: var(--spacing);
  }
</style>
