---
import Layout from '$layouts/Donut.astro';
import SchemaLog from '$components/SchemaLog.svelte';
---

<Layout
  title="Schema Explorer"
  summary="Developer tool for browsing content collection JSON schemas"
>
  <main>
    <SchemaLog client:only="svelte" />
  </main>
</Layout>
