<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="preload" as="font" crossorigin type="font/woff2" href="/fonts/aller/light.woff2" />
    <link rel="preload" as="font" crossorigin type="font/woff2" href="/fonts/aller/bold.woff2" />
    <link rel="stylesheet" href="/css/dank-mono.css" media="print" onload="this.media='all'" />
    <script type="module" defer src="/js/main.js"></script>

    <title>{% if title and title != 'Home' %}{{ title }} | {% endif %}Snugug</title>
    <meta name="Description" content="{{ metadesc }}" />

    <meta name="google-site-verification" content="zIeV2B7zZKCtEFP-6vV8rKk0ocpbp035v_g3IRn12Jo" />

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="_wrapper">
      {% if draft %}
      <div class="ribbon">Draft</div>
      {% endif %} {{ content | safe }}
    </div>
    {% from 'nav.html' import nav %} {{nav(collections.nav)}} {# Google Analytics #}
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-30577396-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
