{% macro pager(page, pagination, type) %}{% if pagination.hrefs.length > 1 %}
<nav aria-label="Pagination for {{type}}">
  <ol class="pager">
    <li class="pager--first">{% if page.url != pagination.hrefs[0] %}<a href="{{ pagination.hrefs[0] }}">First</a>{% else %}First{% endif %}</li class="pager--item">

    {% set pageIndex = pagination.hrefs.indexOf(page.url) %}

    <li class="pager--previous">{% if pageIndex != 0 %}<a href="{{ pagination.hrefs[pageIndex - 1] }}">Previous</a>{% else %}Previous{% endif %}</li>

    {% for url in pagination.hrefs %}
    <li class="pager--item"><a href="{{ url }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
    {% endfor %}

    <li class="pager--next">{% if pageIndex != pagination.hrefs.length - 1 %}<a href="{{ pagination.hrefs[pageIndex + 1] }}">Next</a>{% else %}Next{% endif %}</li>

    <li class="pager--last">{% if page.url != pagination.hrefs[pagination.hrefs.length - 1] %}<a href="{{ pagination.hrefs[pagination.hrefs.length - 1] }}">Last</a>{% else %}Last{% endif %}</li>
  </ol>
</nav>
{% endif %}
{% endmacro %}