{% from 'published.html' import published %} {% macro post(post) %}
<li class="posts--listing">
  <article class="post-preview">
    <a href="{{post.url | url }}" class="post-preview--title">{{post.data.title}}</a>
    {{published(post, 'post-preview')}}
    <div class="post-preview--summary">{{post.data.summary}}</div>
  </article>
</li>
{% endmacro %} {% macro recipe(recipe) %}
<li class="recipes--listing">
  <a href="{{recipe.url | url }}" class="recipe-preview">
    <figure class="recipe-preview--image">
      <img loading="lazy" src="/images/{{ recipe.data.image }}" alt="{{ recipe.data.title }}" role="presentation" style="object-position: {{ recipe.data.offset }}" />
      <figcaption>
        <h2>
          {{ recipe.data.title }}
        </h2>
        <ul>
          <li>{{ recipe.data.time.overall }}</li>
          <li>{{ recipe.data.difficulty }}</li>
        </ul>
      </figcaption>
    </figure>
  </a>
</li>
{% endmacro %}
