---
import Layout from '$layouts/Donut.astro';
import Heading from '$components/Heading.astro';
import Postcard from '$components/Postcard.svelte';
import Recipecard from '$components/Recipecard.svelte';
import { client } from '$lib/sanity';

const postQuery =
  '*[_type == "post" && archived != true &&  !(_id in path("drafts.**"))] | order(published desc) {title, summary, "slug": slug.current, published, updated}[0...8]';
const recipeQuery =
  '*[_type == "recipe" && archived != true &&  !(_id in path("drafts.**"))] | order(published desc) {"image": mainImage.asset->url, title, "slug": slug.current, published}[0...5]';

const posts = (await client.fetch(postQuery)).map((post) => ({
  ...post,
  published: new Date(post.published),
  updated: post.updated ? new Date(post.updated) : new Date(post.published),
}));

const recipes = (await client.fetch(recipeQuery)).map((recipe) => ({
  ...recipe,
  published: new Date(recipe.published),
}));
---

<Layout>
  <main>
    <div class="heading">
      <Heading
        title="Hi <br />I'm Sam <br /><span class='aka'>aka</span> Snugug"
        hue={171}
        saturation={60}
        lightness={25}
        size={70}
        alpha={0.5}
      />
    </div>
    <section class="home-section">
      <h2 class="type--h2">Recent posts</h2>
      <ul class="home-content">
        {
          posts.map((content) => (
            <li>
              <Postcard {content} />
            </li>
          ))
        }
        <li class="all-content posts">
          <Heading
            title="Posts"
            hue={270}
            saturation={70}
            lightness={40}
            size={40}
            alpha={0.5}
            link="/musings"
          />
        </li>
      </ul>
    </section>
    <section class="home-section section__cookbook">
      <h2 class="type--h2">Recent recipes</h2>
      <ul class="home-content">
        {
          recipes.map((content) => (
            <li>
              <Recipecard {content} />
            </li>
          ))
        }
        <li class="all-content cookbook">
          <Heading
            title="Cookbook"
            hue={345}
            saturation={100}
            lightness={28}
            size={50}
            alpha={0.5}
            link="/cookbook"
          />
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  .heading {
    --heading-font-size: clamp(4rem, 15vw, 8rem);
    background-color: hsl(171, 100%, 30%);
    height: 100vh;
    line-height: 1;
    width: 100vw;
  }

  .home-section {
    margin: 0 auto;
    max-width: 120ch;
    padding: 1rem var(--spacing);

    &:last-of-type {
      padding-bottom: var(--spacing);
    }

    &:first-of-type {
      padding-top: var(--spacing);
    }
  }

  .home-content {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
    padding: 1rem var(--spacing);

    li {
      height: 100%;
    }
  }

  .all-content {
    // aspect-ratio: 1 / 1;
    --heading-font-size: var(--spacing);
    display: block;
    height: 100%;
  }

  .cookbook {
    background: var(--red);
  }

  .posts {
    background: var(--plum);
  }

  .section__cookbook {
    --highlight-color: var(--red);
  }
</style>
