.message {
  padding: 1rem;
  border-radius: 5px;

  // Default/info style
  background-color: var(--teal);
  --highlight-color: var(--white);
  color: var(--white);
  border: 2px solid var(--dark-teal);

  &.warning {
    background-color: var(--yellow);
    --highlight-color: var(--white);
    color: var(--black);
    border: 2px solid var(--gold);
  }

  &.error {
    background-color: var(--dark-red);
    --highlight-color: var(--black);
    color: var(--white);
    border: 0.25rem solid var(--red);
  }

  &.info {
    background-color: var(--teal);
    --highlight-color: var(--white);
    color: var(--white);
    border: 2px solid var(--light-teal);
  }
}
