---
title: Cookbook
listing:
  folders:
    - cookbook
  sort: published
  reverse: true
  ignore:
    - attribute: draft
      value: true
      operator: is
    - attribute: page
      value: musings
      operator: is
page: cookbook
hidePublished: true
---

{% extends '_layout.html' %} {% import 'macros/_display.html' as display %} {% block content %}

<section class="posts">
  <ul class="_recipe--list">
    {% for recipe in listing.cookbook %}
    {{
      display.recipe(recipe)
    }}
    {% endfor %}
  </ul>
</section>

{% endblock %}
