---
listing:
  folders:
    - musings
  ignore:
    - attribute: draft
      value: true
      operator: is
  sort: published
  reverse: true
---
{% extends '_stand-alone.html' %}

{% import 'macros/_display.html' as display %}

{% block head %}
  {% for post in listing.musings %}
    {% if loop.first %}
    <link rel="prefetch" href="/{{ post.path|replace('/index.html', '') }}">
    {% endif %}
  {% endfor %}
{% endblock %}

{%block content %}
  <section class="posts--LATEST">
    <ul class="posts--list base">
    {% for post in listing.musings %}
      {% if loop.first and post.published|date('yyyy') == today|date('yyyy') %}
        {{ display.post(post) }}
      {% endif %}
    {% endfor %}
    </ul>
  </section>

  <section class="posts--ARCHIVE">
    <ul class="posts--list base">
    {% for post in listing.musings %}
      {% if loop.first and post.published|date('yyyy') != today|date('yyyy') %}
        {{ display.post(post) }}
      {% endif %}
      {% if not loop.first and loop.index < 6 %}
        {{ display.post(post) }}
      {% endif %}
    {% endfor %}
    </ul>
  </section>
{% endblock %}
