---
title: Musings
listing:
  folders:
    - musings
  sort: published
  reverse: true
  ignore:
    - attribute: draft
      value: true
      operator: is
    - attribute: page
      value: musings
      operator: is
page: musings
hidePublished: true
---
{% extends '_layout.html' %}

{% import 'macros/_display.html' as display %}

{% block content %}

<section class="posts">
  <h2 class="posts--heading">{{ today|date('yyyy') }}</h2>
  <ul class="posts--list">
  {% for post in listing.musings %}
    {% if post.published|date('yyyy') == today|date('yyyy') %}
    {{ display.post(post) }}
    {% endif %}
  {% endfor %}
  </ul>
</section>
<section class="posts">
  <h2 class="posts--heading">{{ today|date('yyyy') - 1 }}</h2>
  <ul class="posts--list">
  {% for post in listing.musings %}
    {% if post.published|date('yyyy') == today|date('yyyy') - 1 %}
    {{ display.post(post) }}
    {% endif %}
  {% endfor %}
  </ul>
</section>
<section class="posts--ARCHIVE">
  <h2 class="posts--heading">Archive</h2>
  <ul class="posts--list">
  {% for post in listing.musings %}
    {% if post.published|date('yyyy') < today|date('yyyy') - 1 %}
    {{ display.post(post) }}
    {% endif %}
  {% endfor %}
  </ul>
</section>

{% endblock %}
