<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {% endif %}Snugug</title>
  <link rel="icon" href="/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="zIeV2B7zZKCtEFP-6vV8rKk0ocpbp035v_g3IRn12Jo" />

  <!-- build:css /css/style.css -->
  <!-- Put CSS here -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endbuild -->
  {% block head %}{% endblock %}

  <script>
    (function () {
      'use strict';

      var fontURL = '/css/fonts.css',
          fonts,
          req,
          style,
          fontUrlLS;

      window.domCL = false;

      window.addEventListener('DOMContentLoaded', function () {
        window.domCL = true;
      });

      if (window.localStorage && document.querySelector && window.XMLHttpRequest) {
        fonts = localStorage.getItem('fonts');
        fontUrlLS = localStorage.getItem('fontURL');

        if (fonts && fontUrlLS === fontURL) {
          req = document.querySelector('link[rel="stylesheet"]');

          style = window.document.createElement('style');
          style.innerHTML = fonts;

          req.parentNode.insertBefore(style, req.nextSibling);
        }
        else {
          window.addEventListener('load', function () {
            req = new XMLHttpRequest();
            req.open('GET', fontURL);
            req.onreadystatechange = function () {
              localStorage.setItem('fonts', req.responseText);
              localStorage.setItem('fontURL', fontURL);
            }
            req.send();
          });
        }
      }
    })();
  </script>
</head>
<body>
  {% if draft %}<div class="ribbon">Draft</div>{% endif %}

  {% block body %}{% endblock %}

  <!-- build:js /js/app.js async defer -->
  <!-- Put JS here -->
  <script src="/bower_components/prism/prism.js"></script>
  <script src="/bower_components/prism/components/prism-css.js"></script>
  <script src="/bower_components/prism/components/prism-css-extras.js"></script>
  <script src="/bower_components/prism/components/prism-scss.js"></script>
  <script src="/bower_components/prism/components/prism-bash.js"></script>
  <script src="/bower_components/prism/components/prism-markup.js"></script>
  <script src="/bower_components/prism/components/prism-javascript.js"></script>
  <script src="/js/app.js"></script>
  <!-- endbuild -->
  {# Google Analytics #}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30577396-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
