{% extends '_index.html' %}

{% import 'macros/_published.html' as pubMacro %}

{% block body %}
  <div class="_blog">
    <main class="_blog--article">
      <article class="article">
        <header class="article--{% if page %}{{ page }}-{% endif %}heading">
          <h1 class="article--title">{{ title }}</h1>
        </header>
        <div class="article--content {% if page != 'musings' %}base{% endif %}">
          {% block content %}{% endblock %}
        </div>
        {% if published and not hidePublished %}
          {{ pubMacro.published(published, updated, stats.birthtime, 'article') }}
        {% endif %}
      </article>
    </main>

    {% include 'macros/_footer.html' %}
  </div>
{% endblock %}
