{% extends '_index.html' %} {% import 'macros/_published.html' as pubMacro %} {% block body %} {% macro timing(time) %} {% if time.inactive == 0 and time.rest == 0 %} <span itemprop="totalTime" content="PT30M">{{ time.overall }}</span> {% elseif time.inactive != 0 and time.rest == 0 %} <span itemprop="totalTime" content="PT30M">{{ time.overall }}</span> overall, including <meta itemprop="prepTime" content="PT15M" />{{ time.prep }} minutes of preparation and {{ time.inactive }} unattended {% elseif time.inactive == 0 and time.rest != 0 %} <span itemprop="totalTime" content="PT30M">{{ time.overall }}</span> minutes of preparation, plus {{ time.rest }} resting {% else %} <span itemprop="totalTime" content="PT30M">{{ time.overall }}</span> overall, including <meta itemprop="prepTime" content="PT15M" />{{ time.prep }} minutes of preparation and {{ time.inactive }} unattended, plus {{ time.rest }} of resting {% endif %} {% endmacro %}

<main itemscope itemtype="http://schema.org/Recipe">
  <header class="_recipe--header">
    <img class="_recipe--image" src="/images/{{ image }}" alt="{{ title }}" role="presentation" style="object-position: {{ offset }}" itemprop="image" />
    <div class="_recipe--title-wrapper">
      <h1 class="_recipe--title" itemprop="name">{{ title }}</h1>
    </div>
  </header>
  <article class="_recipe--body">
    <div class="_recipe--story">
      <table class="_recipe--info">
        <tr>
          <td>Yield</td>
          <td itemprop="recipeYield">{{ yield }}</td>
        </tr>
        <tr>
          <td>Estimated Time</td>
          <td>{{ timing(time) }}</td>
        </tr>
        <tr>
          <td>Difficulty</td>
          <td>{{ difficulty }}</td>
        </tr>
        <tr>
          <td>Special Requirements</td>
          <td itemprop="tool">{{ requirements }}</td>
        </tr>
      </table>

      <div class="_recipe--content" itemprop="description">
        {% block content %}{% endblock %}
      </div>
    </div>

    <table class="_recipe--recipe">
      <thead>
        <tr>
          <th id="ingredient">Ingredient</th>
          <th id="amount">Amount</th>
          <th>Procedure</th>
        </tr>
      </thead>
      <tbody>
        {% for item in instructions %}
        <tr class="_recipe--row">
          <td colspan="2">
            <table class="_recipe--ingredients">
              {% for ingredient in item.ingredients %}
              <tr itemprop="recipeIngredient">
                <td aria-labelledby="ingredient">{{ ingredient.name }}</td>
                <td aria-labelledby="amount">{{ ingredient.amount }}</td>
              </tr>
              {% endfor %}
            </table>
          </td>
          <td>
            <ol class="_recipe--steps" itemprop="recipeInstructions">
              {% for step in item.procedure %}
              <li itemprop="step">{{ step }}</li>
              {% endfor %}
            </ol>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
</main>

{% include 'macros/_footer.html' %} {% endblock %}
