._blog {
  margin-top: 0;

  @supports (display: flex) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &--article {
    @supports (display: flex) {
      flex: 1;
    }
  }

  &--footer {
    width: 100%;

    min-height: 10vh;

    background: $color;
    color: $background;

    @supports (display: flex) {
      display: flex;
      flex-direction: column;
    }

    // display: flex;
    // align-items: baseline;

    // @include awesome-header(color('gray', 80), $color, -45deg 30deg, 8);

    @include awesome-header($color, #1c1b15, (-45deg, 30deg), 8);
  }

}
