._recipe {
  font-size: 125%;

  &--header {
    display: grid;
  }

  &--image {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    height: 50vw;
    max-height: 50vh;
    object-fit: cover;
    width: 100vw;
  }

  &--title-wrapper {
    display: grid;
    grid-column: 1 / span 1;
    grid-template-columns: auto minmax(auto, 80ch) auto;
    width: 100%;
  }

  &--title {
    font-size: 1.5em;
    font-weight: normal;
    grid-column: 2 / span 1;
    padding: 0 0.5rem;
    text-align: left;
    text-transform: uppercase;
  }

  &--body {
    margin: 0 auto;
    max-width: 80ch;
    padding: 0 0.5rem;
  }

  &--story {
    margin-bottom: 1rem;
  }

  &--content {
    line-height: 1.25;
  }

  &--info {
    font-size: 0.8em;

    td {
      border: 0;
      padding: 0.3em;
    }

    td:first-of-type {
      text-transform: uppercase;
      width: 25ch;
    }

    td:last-of-type {
      font-style: italic;
    }
  }

  &--recipe {
    counter-reset: procedure-counter;
    line-height: 1.25;
    width: 100%;

    @include mq(max-width 500px) {
      font-size: 0.8em;
    }

    th {
      font-weight: normal;
      padding-bottom: 0.5em;
      text-align: left;
      text-transform: uppercase;
    }

    thead {
      border-bottom: 3px solid var(--red);
    }

    td:not([aria-labelledby]) {
      padding: 0.5em 0;
    }

    // sass-lint:disable no-qualifying-elements
    td[aria-labelledby] {
      line-height: 1.25;
    }
    // sass-lint:enable no-qualifying-elements
  }

  &--row {
    border-bottom: 1px solid var(--black);
    padding-top: 1em;

    &:last-of-type {
      border-bottom: 3px solid var(--red);
    }
  }

  &--ingredients {
    width: 100%;

    [aria-labelledby='ingredient'] {
      padding-right: 0.25em;
      width: 60%;
    }

    [aria-labelledby='amount'] {
      padding-right: 0 0.25em;
    }
  }

  &--steps {
    list-style: none;
    margin-left: 2em;

    li {
      counter-increment: procedure-counter;
      position: relative;

      &::before {
        align-items: center;
        border: 1px solid var(--black);
        border-radius: 50%;
        content: counter(procedure-counter);
        display: flex;
        font-size: 0.75em;
        height: 1.5em;
        justify-content: center;
        left: -1.75rem;
        padding: 0.8em;
        position: absolute;
        width: 1.5em;

        @include mq(max-width 500px) {
          left: -1.5rem;
        }
      }
    }
  }
}

// sass-lint:disable no-ids
#ingredient {
  width: 30%;
}

#amount {
  width: 20%;
}
// sass-lint:enable no-ids
