---
import Layout from '$layouts/Twitter.astro';
import Twitter from '$lib/tweetback/twitter';
import Tweet from '$components/Tweet.svelte';

const tweets = Twitter.tweets.slice(0, 25);
---

<Layout
  title="title"
  summary="A collection of tweets from the past"
  active="stats"
>
  <ul>
    {
      tweets.map((tweet) => (
        <li>
          <Tweet tweet={tweet} nest={false} />
        </li>
      ))
    }
  </ul>
</Layout>
