---
import '$sass/style.scss';
import Scripts from '$components/Scripts.svelte';
import Menu from '$components/Menu.svelte';
import Footer from '$components/Footer.svelte';

export interface Props {
  title: string;
  summary: string;
}

const { title, summary } = Astro.props;
const t = (title ? `${title} | ` : '') + 'Snugug';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/fonts/dank-mono.css" />
    <link rel="me" href="https://mas.to/@snugug" />
    {
      import.meta.env.MODE !== 'development' ? (
        <link rel="manifest" href="/manifest.webmanifest" />
      ) : (
        ''
      )
    }
    <meta name="generator" content={Astro.generator} />
    <title>{t}</title>
    <meta name="description" content={summary} />
    <script
      defer
      data-domain="snugug.com"
      src="https://plausible.io/js/script.outbound-links.tagged-events.js"
    ></script>
  </head>
  <body class="body">
    <Menu client:load />

    <div class="body-content">
      <slot />
    </div>

    <Scripts client:only />
    <Footer client:load />
  </body>
</html>

<style>
  .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .body-content {
    flex: 1;
  }
</style>
